/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *after {
    box-sizing: inherit;
}
body {
    font-family: 'Open San', sans-serif;
    color: #888;
    font-weight: 300;
    font-size: 20pt;
    padding-top: 3em;
}
h1, h2, h3, h4, h5, h6 {
    color: #3e3e3e;
    margin: 0 0 0.75em 0;
    font-weight: 700;
}
h1 {
    font-size: 3em;
    letter-spacing: -0.025em;
    font-weight: 300;
}
    h1 strong {
        font-weight: 500;
    }
h2 {
    font-size: 2em;
    letter-spacing: -0.015em;
    padding-bottom: 3px;
}
h3 {
    font-size: 1.2em;
    letter-spacing: -0.015em;
    text-align: center;
    padding-top: 15px;

}
#nav {
    background-color: #282828;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    cursor: default;
    line-height: 3em;
}
#nav a {
    position: relative;
    display: inline;
    font-weight: 500;
    color: #d8e7fc;
    font-size: 20px;
    line-height: 2.5em;
    padding: 0 1.25em;
    margin-right: 50px;

}

#top-section {
    display: flex;
    padding: 100px;
    text-align: left;
}
#top-section p {
    font-size: 25px;
    line-height: 1.75em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    margin: 0 auto;
    width: 1200px;
}
.photo {
    margin: 0 auto;
    padding: 30px;
}
.text-area {
    margin: 0 auto;
    padding: 30px;
    padding-top: 60px;
    line-height: auto;
}

#gallery-wrapper{
    background-color: #d8e7fc;
    padding: 50px;
    text-align: center;
    line-height: auto;
}

.portfolio-container {
    display: block;
    margin: 0 auto;
    align-content: center;
    width: 100%;
}
.flex-container {
    display: flex;
    width: 1800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 25px;
}
.image-containers {
    margin-right: 40px;
    padding: 15px;
    border-bottom: 1px dashed black;
}

.image-projects {
    margin-right: 40px;
    padding: 15px;
}
* img {
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;
    border: 1px solid gray;
    align-items: center;
    margin-top: 30px;
}
* p {
    line-height: 1.5em;
    width: 100%;
    margin: 0 auto;
}

#footer-wrapper{
    background-color: #d8e7fc;
    padding: 30px;
    text-align: center;
    line-height: auto;
}

.footer-container {
    display: block;
    margin: 0 auto;
    align-content: center;
    width: 25%;
}
button {
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    padding: 15px;
}