/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *after {
    box-sizing: inherit;
}
body {
    font-family: 'Open San', sans-serif;
    color: #888;
    font-weight: 300;
    font-size: 20pt;
    padding-top: 3em;
}
h1, h2, h3, h4, h5, h6 {
    color: #3e3e3e;
    margin: 0 0 0.75em 0;
    font-weight: 700;
}
h1 {
    font-size: 2.5em;
    letter-spacing: -0.015em;
    font-weight: 300;
    padding-top: 35px;
}
    h1 strong {
        font-weight: 500;
}
h2 {
    font-size: 2em;
    letter-spacing: -0.015em;
    padding-bottom: 3px;
    
}
h3 {
    font-size: 1.2em;
    letter-spacing: -0.015em;
    text-align: center;
    padding-top: 15px;

}
#nav {
    background-color: #282828;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    cursor: default;
    line-height: 3em;
}
#nav a {
    display: inline;
    font-weight: 500;
    color: #d8e7fc;
    font-size: 20px;
    line-height: 2.5em;
    padding: 0 1.25em;
    margin-right: 50px;

}

#wrapper1 {
    border-top: 2.5px solid #d8e7fc;
    padding: 50px;
    text-align: center;
    line-height: auto;
    width: 100%;
    background-color: #fafafa;
}
#wrapper2 {
    border-top: 2.5px solid #fafafa;
    padding: 50px;
    text-align: center;
    line-height: auto;
    width: 100%;
}

.portfolio-container {
    display: block;
    margin: 0 auto;
    align-content: center;
    width: 100%;
}
.flex-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 25px;
    background-color: #fafafa;
}
.project-container {
    margin-right: 40px;
    padding: 15px;
}
.photo-gallery {
    display: flex;
    width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 25px;
    
}
.gallery-container {
    margin:0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-evenly;
    border-bottom: 1px dashed black;
}

* img {
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;
    border: 1px solid gray;
    align-items: center;
    margin-top: 30px;
}

* p {
    line-height: 1.5em;
    width: 100%;
    margin: 0 auto;
}

/*tablet - max-width 800px */

@media(max-width: 800px){
    #nav {
        display: inline;
        text-align: center; 
        justify-content: space-evenly;
        margin: 0 auto;
    }
    h1 {
        font-size: 2em;
        letter-spacing: -0.015em;
        font-weight: 300;
    }
        h1 strong {
            font-weight: 500;
    }
    
    h2 {
        font-size: 1.5em;
        padding-bottom: 10px;
        margin: 0 auto;
        align-items: center;
        
    }
    h3 {
        font-size: 1em;
        letter-spacing: -0.015em;
        text-align: center;
        padding-top: 15px;
    
    }
    * p {
        font-size: 20px;
        margin: 0 auto;
        width: 100%;
        padding-left: 30px;

    }
    #wrapper1 {
        border-bottom: 2px solid #d8e7fc;
        background-color: #fafafa;
        margin: 0 auto;
        width: 93%
    }
    #wrapper2 {
        margin: 0 auto;
        width: 80%;
    }
    .flex-container {
        justify-content: space-evenly;
        width: 97%;
    }
    .project-container {
        width: 40%;
        justify-content: space-evenly;
        
    }
    .photo-gallery {
        width: 97%;
        justify-content: space-evenly;
    
    }
    .gallery-container {
        width: 48%;
        justify-content: space-around;
    }
}
